.container {
    width: 100%;
    min-height: 100%;
    bottom: 0;
    padding: 20px;
    padding-bottom: 20px;
    background-image: url('https://assets.gqindia.com/photos/609a8e5b2c7bfc93e2031ba2/16:9/w_1920,c_limit/World%20Cocktail%20Day.jpeg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: #fff;
    font-family: 'freight-big-pro';
    font-size: 180px;
    font-weight: normal;
    letter-spacing: -6.5px;
    overflow-wrap: break-world;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 80%;
    max-width: 400px;
    font-size: 1.2em;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #007bff;
  }
  
  .cocktail-list {
    list-style-type: disc;
    padding: 0;
  }
    
  .cocktail-list li {
    display: inline-block;
    margin-right: 10px; 
  }
  
  .cocktail-item {
    padding: 15px;
    background-color: 0000FF;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .cocktail-item:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px);
  }
  
  .cocktail-details {      
    max-width: 100%-200px;     
    margin-top: 20px auto;
    padding: 10px;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.5;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cocktail-text{
    padding-left: 50px;
    display:table-row;
  }

  .cocktail-image {
    padding-left: 50px;
    width: 200px;
    height: 200px;
  }
  
  .cocktail-details h2 {
    color: #333;
  }